*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

.twoTables{
    background-color: black;
}

.expenses{
    padding: 5%;
    color: white;
    display: block;
    text-align: center;
}

.expenses h2{
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.5vw;
}

.expenses form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: left;
    padding: 2%;
    border: 2px solid cyan;
    border-radius: 10px;
    width: 25%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.expenses label{
    font-size: 0.8vw;
}

.expenses input{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1.5%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px cyan solid;
    color: white;
    font-size: 0.8vw;
}

.expenses button{
    background: none;
    color: white;
    padding: 2%;
    border: 2px solid cyan;
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-size: 0.8vw;
}

.expenses button:hover{
    transform: scale(1.1);
}

.echo1{
    padding-top: 5%;
    font-size: 0.8vw;
    color: white;
}

/* ================================================ */

.addProduct{
    color: white;
    display: block;
    text-align: center;
    padding-top: 5%;
}

.addProduct h2{
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 1.5vw;
}

.addProduct form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: left;
    padding: 2%;
    border: 2px solid cyan;
    border-radius: 10px;
    width: 25%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.addProduct label{
    font-size: 0.8vw;
}

.addProduct input{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1.5%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px cyan solid;
    color: white;
    font-size: 0.8vw;
}

.addProduct button{
    background: none;
    color: white;
    padding: 2%;
    border: 2px solid cyan;
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-size: 0.8vw;
}

.addProduct button:hover{
    transform: scale(1.1);
}


/* ================================================ */

.productsdUh{
    padding-top: 10%;
    display: flex;
    padding-bottom: 2%;
    color: white;
}

.productsdUh .textExpenses h2{
    text-align: center;
    font-size: 1.8vw;
    margin-bottom: 2%;
}

.productsdUh .listofProducts{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
    overflow: hidden;
}

.productsdUh .listofProducts table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border: 2px cyan solid;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: cyan; 
  }

.productsdUh .listofProducts table th{
    font-size: 0.8vw;
    padding: 1%;
    color: white;
}

.echo2 table td{
    padding: 2%;
}

/* ================================================ */

.sProducts{
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 5%;
}

.products1{
    margin-right: 1%;
}

.products1 form{
    padding-right: 10%;
    width: 150%;
    padding: 10%;
    border: 2px cyan solid;
    border-radius: 10px;
}

.products1 h2{
    padding-bottom: 5%;
}

.products1 label{
    font-size: 0.8vw;
}

.products1 input{
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid cyan;
    padding: 2%;
    color: white;
    font-size: 0.8vw;
}

.products1 button{
    background: none;
    color: white;
    padding: 2%;
    border: 2px solid cyan;
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-size: 0.8vw;
}

.products1 button:hover{
    transform: scale(1.1);
}

/* ================================================ */

.moale{
    margin-left: 10%;
    justify-content: center;
    text-align: center;
}

.mostSold{
    padding-bottom: 5%;
}

.moale .center{
    margin-top: 2%;
    border: 1px solid cyan;
    color: white;
    width: 600px;
    border-spacing: 0;
}

.center td{
    padding: 1%;
    text-align: center;
}

.moale .center2{
    margin-top: 2%;
    border: 1px solid cyan;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0;
}

.center2 td{
    padding: 1%;
    text-align: center;
}

/* ================================================ */

.income{
    display: block;
    margin-left: 3%;
    text-align: center;
}

.grossIncome{
    margin-bottom: 10%;
}

.grossIncome h2{
    margin-bottom: 2%;
}

.grossI{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border: 2px cyan solid;
    border-spacing: 0;
}

.grossI th{
    color: white;
    padding: 2%;
}

.grosI tr{
    padding: 1%;
    text-align: center;
}

.netIncome{
    margin-top: 10%;
}

.netI{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    border: 2px cyan solid;
    border-spacing: 0;
}

.netI th{
    color: white;
    padding: 2%;
}

.hidden{
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
}
